@model Core.Domain.Page

@{
    ViewData["Title"] = "حذف خبر";
    Layout = "~/Areas/Admin/Views/shared/_AdminLayout.cshtml";
}


<h3>آیا از حذف این خبر مطمئن هستید؟</h3>
<div>
    <h4>اخبار</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
    
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Visit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Visit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageName)
        </dt>
        <dd class = "col-sm-10">
            <img src="/PageImages/@Model.ImageName" class="img-thumbnail" style="max-width:150px" /> 
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShowSlider)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShowSlider)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PageId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-primary">بازگشت به صفحه اصلی</a>
    </form>
</div>
