@model IEnumerable<Core.Domain.Page>

@{
    ViewData["Title"] = "صفحه ی اخبار";
    Layout = "~/Areas/Admin/Views/shared/_AdminLayout.cshtml";
}


<p>
    <a asp-action="Create" class="btn btn-success">افزودن خبر جدید</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImageName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pagegroup.GroupTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Visit)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ShowSlider)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="/PageImages/@item.ImageName" class="img-thumbnail" style="max-width:120px"/>
                </td>
                 <td>
                    @Html.DisplayFor(modelItem => item.pagegroup.GroupId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Visit)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ShowSlider)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDate)
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-warning btn-sm" asp-route-id="@item.PageId">ویرایش</a> |
                    <a asp-action="Details" class="btn btn-info btn-sm" asp-route-id="@item.PageId">جزییات</a> |
                    <a asp-action="Delete" class="btn btn-danger btn-sm" asp-route-id="@item.PageId">حذف</a>
                </td>
            </tr>
        }
    </tbody>
</table>
